
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet"  href="../css/bootstrap.min.css">
        {{!-- <link rel="stylesheet" type="text/css" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css"> --}}
        <title>Handlebars js</title>
    </head>
    <body>
        {{>navbar}}
        <script type="text/javascript" src="../jq/jquery.js"></script>
        <script type="text/javascript" src="../js/bootstrap.js"></script>
    </body>
</html>