<!DOCTYPE html>
<html>
    <head>
        <title>Handlebars js</title>
        <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
        {{!-- <link rel="stylesheet" type="text/css" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css"> --}}
    </head>
    <body>
        {{>navbar}}
        <script type="text/javascript" src="js/bootsrap.js"></script>
        <script type="text/javascript" src="jq/jquery.js"></script>
    </body>
</html>