<!DOCTYPE html>
<html>
    <head>
        <title>Handlebars js</title>
        <link rel="stylesheet"  href="../css/bootstrap.min.css">
        {{!-- <link rel="stylesheet" type="css" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css"> --}}
    </head>
    <body>
        {{>navbar}}
        <script type="text/javascript" src="../jq/jquery.js"></script>
        <script type="text/javascript" src="../js/bootstrap.js"></script>
    </body>
</html>